<!DOCTYPE html>

<html>
<head>
    <meta charset=utf-8>
    <meta http-equiv=X-UA-Compatible content="IE=edge">
    <meta name=viewport content="width=device-width,initial-scale=1">
    <link rel=icon href=/favicon.ico>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100:300,400,500,700,900|Material+Icons" rel=stylesheet>
    <title>BoxBuyer</title>
    <link href="~/css/chunk-vendors.a8931b38.css" rel="stylesheet">
    <link href="~/css/app.9c10d90e.css" rel="stylesheet">
</head>
<body>
    @RenderBody()
    <noscript>
        <strong>
            We're sorry but sistema doesn't work properly without JavaScript enabled. Please enable it to
            continue.
        </strong>
    </noscript>
    <div id=app></div>
    <script src="~/js/chunk-vendors.80a98d64.js"></script>
    <script src="~/js/app.0333d5cb.js"></script>
    @RenderSection("Scripts", required:false)
</body>
</html>
